:root {
    --text-color: lime;
}

* {
    background-color: rgb(90, 90, 90);
}

header {
    margin: 24px;
    text-align: center;
}

h1 {
    color: var(--text-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;

    border-radius: 8px;
    transition: all 243ms ease-in-out;
}

h1:hover {
    box-shadow: inset 0px 0px 8px lime, 0 0 15px lime;
}

header p {
    padding: o 24px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

body {
    margin: 24px;
    padding: 24px;
    height: 600px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: auto;
    border: 2px solid black;
    padding: 16px;
    margin: 16px;
    border-style: dashed;
    margin-top: 40px;

    border-radius: 8px;
    transition: all 243ms ease-in-out ls;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover {
    box-shadow: inset 0px 0px 8px lime, 0 0 15px lime;
}

main p {
    width: auto;
}

pre {
    background: linear-gradient(lime,lightgreen);
    text-align: left;
    white-space: pre-line;
    user-select: all;
}

h3 {
    border: 2px solid black;
    padding: 8px;
    margin: 8px;
    box-sizing: border-box;
    transform: translateY(-100%);
    color: var(--text-color);
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    border-radius: 8px;
    transition: all 243ms ease-in-out ls;
}

h3:hover {
    box-shadow: inset 0px 0px 8px lime, 0 0 15px lime;
}

footer {
    margin: 24px;
    padding: 24px;
    text-align: center;

    border-radius: 8px;
    transition: all 243ms ease-in-out;
}

footer:hover {
    box-shadow: inset 0px 0px 8px lime, 0 0 15px lime;
}

h2 {
    color: var(--text-color);
}